.charactersListSectionContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.charactersListContainer {
  padding: 50px 30px;
  height: 675px;
}

.characterSectionContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.characterDetailsSection {
  width: 100%;
}