.charactersListSectionContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.charactersListContainer {
  padding: 10px 30px;
  height: 520px;
}

.characterSectionContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.characterDetailsSection {
  width: 100%;
}

.characterFilterContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.characterDetailsMobileSection {
  display: none;
}


/* Break points */

@media (max-width: 1023px) {
  .charactersListContainer {
    padding: 0;
    height: 190px;
  }

  .characterDetailsSection {
    display: none;
  }

  .characterSectionContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .characterFilterContainer {
    padding: 1rem 0;
  }

  .characterDetailsMobileSection {
    display: block;
  }
}